@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fondo-header{
    background: #1488CC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.logo-blanco, .logo-negro{
    height: 90px;
    padding-right: 20px;
}

.nombre-logo{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 25px;
    color: #fff;
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 3px;
}

.nombre-logo:hover{
    color: #FFE000;
}

.nav-link{
    font-size: 17px;
}

.nav-link:hover{
    color: #FFE000;
    font-weight: bolder;
}

.header-image{
    padding-left: 150px;
    height: 350px;
    border-radius: 40%;
}

.btn-outline-light:hover{
    background: #FFE000;
}

.carousel{
    padding-bottom: 40px;
}

.carrusel-cabecera{
    position: absolute;
    z-index: 2;
    padding-top: 15%;
    padding-left: 30%;
}

.carrusel-cabecera a {
    text-decoration: none;
}

.carrusel-cabecera h2{
    font-size: 50px;
    text-transform: uppercase;
    text-shadow: 0px 2px 5px rgba(0,0,0,1);
    transition: 0.5s ease-in-out;
    color: #fff;
}

.carrusel-cabecera h2:hover{
    color: #FFE000;
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
}

.carrusel-image{
    height: 600px;
}

.mapa-google{
    padding-bottom: 40px;
}

.mapa-texto{
    text-align: center;
    align-self: center;
}

.mapa-texto p {
    padding: 10px 0 10px 0;
}

.mapa-texto p span {
    font-weight: bold;
}